<h1>Welcome to Doctor Page</h1>

<div class="container">
    <h2>Patient Listing</h2>
    <table class="table table-striped">
<thead>
      <tr>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Middlename</th>
        <th>Admittance</th>        
        <th>Treatment</th>
        <th>Family Physician</th>
        <th>Faciliity</th>  
        <th>Room</th> 
        <th>Discharge</th>
      </tr>
    </thead>
    <tbody>
<% @patients.each do |patient|%>
    <tr>
        <td><%= patient.last_name %></td>
        <td><%= patient.first_name %></td>
        <td><%= patient.middle_name %></td>
        <td><%= patient.admittance.date %></td>
        <td><%= patient.treatment.name %></td>
        <td><%= patient.physician.family_physician%></td>
        <td><%= patient.location.facility %></td>
        <td><%= patient.location.room %></td>
        <td><%= patient.discharge.date %></td>
        <td><%= link_to "View", page_path(patient) %></td>
    </tr>
    </tbody>
  </table>
<%end%>
</div>

