<h2 class="foo">Edit Page Patient Light </h2>

<div class="container">
<% if @recordLocation == "general" %>
  <%= simple_form_for @patient, url: update_patient_path do |f| %>
    <%= f.input :last_name, label: "Last Name" %>
    <%= f.input :first_name, label: "First Name" %>
    <%= f.input :middle_name, label: "Middle Name" %>
    <%= f.input :birthday, as: :string, input_html: { class: "datepicker" } %>
    <%= f.submit :submit %>
  <% end %>
<% end %>
</div>

<div class="container">
<% if @recordLocation == "admittance" %>
  <%= simple_form_for Admittance.new, url: update_patient_path do |f| %>
    <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :time, label: "time of admittance" %>
    <%= f.input :reason, label: "reason for admittance" %>
    <%= f.submit :submit %>
  <% end %>
<% end %>
</div>

<script type="text/javascript">
  $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>