<h2 class="foo">Edit Page Patient Light </h2>

<div class="container">
  <% if @recordLocation == "general" %>
  <form action="/pages/<%= @patient.id %>/update/update_patient" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" name="patient[last_name]" value="<%= @patient.last_name %>">
    </div>
    
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" name="patient[first_name]" value="<%= @patient.first_name %>">
    </div>
    
    <div class="form-group">
      <label>Middle Name</label>
      <input type="text" class="form-control" name="patient[middle_name]" value="<%= @patient.middle_name %>">
    </div>
    
    <div class="form-group">
      <label>Birthday</label>
      <input type="text" class="form-control datepicker" name="patient[birthday]" value="<%= @patient.birthday %>">
    </div>
    
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Update">
    </div>
  </form>
  <% end %>
</div>

<script type="text/javascript">
  $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
  $('.timepicker').datepicker({format: 'LT'});
</script>