<h2>New Patient Light</h2>

<%#= render 'patientForm' %>

<%= simple_form_for @patient, url: new_patient_path do |f| %>
  <%= f.input :last_name, label: "Last Name" %>
  <%= f.input :first_name, label: "First Name" %>
  <%= f.input :middle_name, label: "Middle Name" %>
  <%= f.input :birthday, label: "Birthday" %>
  <%= f.submit :submit %>
<% end %>