<<<<<<< HEAD
<div class="container">
  <h2>New Treatment Information</h2>
  <%= simple_form_for @patient.build_treatment, url: create_treatment_path, controller: 'pages', action: 'create_treatment' do |f| %>
    <%= f.input :name %>
    <%= f.submit :submit %>
  <% end %>
</div>
=======
<h2>New Treatment Information</h2>
<%= simple_form_for @patient.build_treatment, url: new_treatment_path do |f| %>
  Treatment Information:
  <ul>
        <%= f.input :name %>
        <%= f.submit :submit %>
  </ul>
<% end %>
>>>>>>> 4abafb0f70c95adb817ebd9447003793413313ed
