<h2>Create a Doctor's Note:</h2>
<%= form_with(model: [@patient, @patient.build_treatment.dr_notes.build], url: create_dr_note_path, local: true) do |form| %>
  <p>
    <%= form.label :Name %><br>         
    <%= form.text_field :name %>        
  </p>
    <p>
        <%= form.label :Message %><br>         
        <%= form.text_area :message %>        
    </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>