<h2>New Schedule Information</h2>
<div class = "container">
  <%= simple_form_for @patient.treatment.schedules.build, url: new_schedule_path do |f| %>
      <%= f.input :date, as: :string, required: true, input_html: {class: "datepicker"} %>
      <%= f.input :time, as: :string, required: true, input_html: {class: "timepicker"}%>     
      <%= f.input :schedule_msg %>
      <%= f.submit %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
  });
</script>