<h2>New Emergency Contact Information</h2>
<%= simple_form_for @patient.build_emergency_contact, url: new_emergency_contact_path do |f| %>
  Emergency Contact Information:
  <ul>
        <%= f.input :e1_name %>
        <%= f.input :e1_phone %>
        <%= f.input :e2_name %>
        <%= f.input :e2_phone %>
        <%= f.submit :submit %>
  </ul>
<% end %>
