   <% accessVar = "" %>
   <% imagePath = '' %>
   <% if current_user.doctor_role %>
     <% accessVar = "doctor" %>
     <% imagePath = 'doctorStaff.jpg' %>
   <% end %>
   <% if current_user.medical_role %>
     <% accessVar = "medical" %>
     <% imagePath = 'medicalStaff.jpg' %>
   <% end %>
   <% if current_user.office_role %>
     <% accessVar = "office" %>
     <% imagePath = 'officeStaff.jpg' %>
   <% end %>
   <% if current_user.volunteer_role %>
     <% accessVar = "volunteer" %>
     <% imagePath = 'volunteerStaff.jpg' %>
   <% end %>

  <div class="container">
   <div class="searchPageWrapper">
		<div class="info_boxes" id="info_box1">
      <h1 class = "header">Patient Search Screen</h1>
      
      <hr class="divLine">

		</div>
		
		<div class="info_boxes" id="info_box2">
			<div class="patient_box">
        <div class="form-group">    
          <p> Enter a First or Last Name </p> 
          <div><%= form_tag pages_patient_results_path, :method => 'get' do %></div>
          <div class="info_box2_search">
            <%= text_field_tag :search %>
          </div>
          <div class="info_box2_search_button">
            <%= submit_tag "Search" %>
          </div>
          <% end %>

        </div>
			</div>
		</div>

		<div class="info_boxes" id="info_box3">			
			<div class="form-group search_button_div">
        <% if !current_user.superadmin_role? %>
        <p> Search All Patients</p><br>
        <%= link_to "Find Patients", {controller: "pages", action: "index"}, class: "btn btn-small btn-success" %>
        <% end %>
        <% if accessVar == "office"%>
        <div class="office_worker_message">
          <p>If you need to add a new patient instead, click the link below</p>
          <div class="form-group">
            <!-- delete the immediate line below once decided on what approach to take -->
            <a class="" href="#">Go to Add Patient Page</a>
          </div>
        </div>
        <% end %>
			</div>
    </div>

		<div class="welcome_box">
      <p> <%= current_user.email %> </p>
      <p>Access Rights: <span id="access_rights"> <%= accessVar %> </span></p>
    </div>
  </div>
</div>