   <% accessVar = "" %>
   <% imagePath = '' %>
   <% if current_user.doctor_role %>
     <% accessVar = "doctor" %>
     <% imagePath = 'doctorStaff.jpg' %>
   <% end %>
   <% if current_user.medical_role %>
     <% accessVar = "medical" %>
     <% imagePath = 'medicalStaff.jpg' %>
   <% end %>
   <% if current_user.office_role %>
     <% accessVar = "office" %>
     <% imagePath = 'officeStaff.jpg' %>
   <% end %>
   <% if current_user.volunteer_role %>
     <% accessVar = "volunteer" %>
     <% imagePath = 'volunteerStaff.jpg' %>
   <% end %>

	<div class="container" id="wrapper">
		<div class="info_boxes" id="info_box1">
			<h1>Patient Search Screen</h1>
			<div class="welcome_box">
				<p> <%= current_user.email %> </p>
				<p>Access Rights: <span id="access_rights"> <%= accessVar %> </span></p>
			</div>
		</div>
		
		<div class="info_boxes" id="info_box2">
			<div class="patient_box">
                <div class="form-group">    
                <p> Enter a First or Last Name </p>           
                  <%= form_tag pages_patient_results_path, :method => 'get' do %>
                    <p>
                      <%= text_field_tag :search %>
                      <%= submit_tag "Search" %>
                    </p>
                  <% end %>

                </div>


			</div>
			<div class="image_box">
                <%= image_tag(imagePath) %>
			</div>
		</div>

		<div class="info_boxes" id="info_box3">			
			<div class="form-group search_button_div">
                <% if !current_user.superadmin_role? %>
                  <p> Search All Patients</p><br>
                  <%= link_to "Find Patients", {controller: "pages", action: "index"}, class: "btn btn-small btn-success" %>
                <% end %>
                
                <% if accessVar == "office"%>
                  <div class="office_worker_message">
                    <p>If you need to add a new patient instead, click the link below</p>
                    <div class="form-group">
                        <%= link_to "Add New Patient", new_page_path %>
                    </div>
                  </div>
                <% end %>
              
			</div>
            
		</div>
	</div>