<% require_relative('./HelperDisplayFunctions') %>

<div class="container">
  <div class = "patient_background">
    <div class = "patient_wrapper">
      <div class = "boxes_admit">
        <div class = "boxes_patient">
          <div>
            <span class = "last_name name"><%= HelperDisplay.lasttry(@patient) %>, </span>
            <span class = "first_name name"><%= HelperDisplay.firsttry(@patient) %> </span>
            <span class = "middle_name name"><%= HelperDisplay.middletry(@patient) %> </span>
          </div>
        
          <div>
            <% if current_user.office_role || current_user.doctor_role || current_user.medical_role %>
              <div class="bday" > <p class = "birthday name"> Birthdate: <%= HelperDisplay.birthdaytry(@patient) %> </div>
            <%end%>
          </div>


          <% if current_user.office_role %>
          <p>Edit General Info <%= link_to "Edit", edit_patient_path(@patient, :pointer => "general") %></p>
          <%end%>
          
        </div>

        <hr class="divLine">

        <% if current_user.office_role || current_user.doctor_role || current_user.medical_role %>
        <div class="show-card">
          <h2>Admittance</h2>
          <p class = "date_para"> Admittance Date: <%= HelperDisplay.datetry(@patient.admittance) %> </p>
          <p class = "time_para"> Admittance Time: <%= HelperDisplay.timetry(@patient.admittance) %> </p>
          <p class = "reason_para"> Admittance Reason: <%= HelperDisplay.reasontry(@patient.admittance)  %> </p>
      
          <% if current_user.office_role %>
          <p>Edit Admittance Info <%= link_to "Edit", edit_admittance_path(@patient, :pointer => "admittance")  %></p>
          <%end%>
        </div>
      
        <div class="show-card">
          <h2>Discharge</h2>
            <p class = "date_dis_para"> Discharge Date: <%= HelperDisplay.datetry(@patient.discharge) %> </p>
            <p class = "time_dis_para"> Discharge Time: <%= HelperDisplay.timetry(@patient.discharge) %> </p>

            <% if current_user.office_role %>
            <p>Edit Discharge Info <%= link_to "Edit", edit_discharge_path(@patient, :pointer => "discharge") %></p>
            <%end%>
        </div>
      </div>
      <%end%>

      <% if current_user.office_role || current_user.doctor_role || current_user.medical_role %>
      <div class = "boxes contact">
        <div class="show-card">
          <h2>Contact Information</h2>
          <p class = "home"> Home Number: <%= HelperDisplay.hometry(@patient.contact) %> </p>
          <p class = "work"> Work Number: <%= HelperDisplay.worktry(@patient.contact) %> </p>
          <p class = "mobile"> Mobile Number: <%= HelperDisplay.mobiletry(@patient.contact) %> </p>
          <p class = "street"> Street Address: <%= HelperDisplay.streettry(@patient.contact)%> </p>
          <p class = "city"> City: <%= HelperDisplay.citytry(@patient.contact) %> </p>
          <p class = "state"> State: <%= HelperDisplay.statetry(@patient.contact) %> </p>
          <p class = "zip"> ZIP: <%= HelperDisplay.ziptry(@patient.contact) %> </p>
          
          <% if current_user.office_role %>
          <p>Edit Contact Info <%= link_to "Edit", edit_contact_path(@patient, :pointer => "contact")  %></p>
          <%end%>
        </div>
      </div>
      <%end%>

        
      <% if current_user.office_role || current_user.doctor_role || current_user.medical_role %>
      <div class = "boxes phy">
        <div class="show-card">
          <h2>Physician</h2>
          <p class = "physician"> Primary Care Physician: <%= HelperDisplay.fphysiciantry(@patient.physician) %> </p>
          <p class = "physician_num"> Primary Care Number: <%= HelperDisplay.fp_phonetry(@patient.physician) %> </p>

          <% if current_user.office_role %>
          <p>Edit Physician Info <%= link_to "Edit", edit_physician_path(@patient, :pointer => "physician")  %></p>
          <%end%>
        </div>
      </div>
      <%end%>

      <div class = "boxes location">
        <div class="show-card">
          <h2>Location</h2>
          <p class = "facility_para"> Facility: <%= HelperDisplay.facilitytry(@patient.location) %> </p>
          <p class = "room_para"> Room: <%= HelperDisplay.roomtry(@patient.location) %> </p>
          <p class = "bed_para"> Bed: <%= HelperDisplay.bedtry(@patient.location) %> </p>
          <h5><b>Vistor Information</b></h5>
          <p class = "vlimit_para"> Visitor Limit: <%= HelperDisplay.vlimittry(@patient.location) %> </p>
          <p class = "vapprove_para"> Approved Visitors: <%= HelperDisplay.vapprovedtry(@patient.location) %> </p>

          <% if current_user.office_role %>
          <p>Edit Location Info <%= link_to "Edit", edit_location_path(@patient, :pointer => "location")  %></p>
          <%end%>
        </div>
      </div>

      <% if current_user.doctor_role || current_user.medical_role %>
      <div class = "boxes treatment">
        <div class="show-card">
          <h2>Treatment</h2>
          <p class = "treat_para"> Treatment: <%= HelperDisplay.treatmenttry(@patient.treatment) %> </p>

          <% if current_user.doctor_role %>
          <%-# Edit treatment %>
          <%end%>
        </div>

        <div class="show-card">
          <b>Prescriptions</b>
            <p><%= link_to "Create a new prescription", new_prescription_path(@patient, :pointer => "prescriptions") %></p>
            <% @patient.treatment.prescriptions.each do |p| %>
              <p class = "name"> Name: <%= HelperDisplay.pres_nametry(p) %> </p>
              <p class = "amount"> Amount: <%= HelperDisplay.pres_amounttry(p) %> </p>
              <p class = "schedule"> Schedule: <%= HelperDisplay.pres_scheduletry(p) %> </p>
              <% if @patient.treatment.prescriptions.index(p) + 1 < @patient.treatment.prescriptions.count %>
              <p class = "divider"> ------------------- </p>

              <% if current_user.doctor_role %>
                <%-# Edit prescriptions %>
              <%end%>
            <%end%>
          <%end%>
        </div>

        <div class="show-card">
        <b>Schedule</b>
          <p><%= link_to "Create a new schedule", new_schedule_path(@patient, :pointer => "schedules") %></p>
          <% @patient.treatment.schedules.each do |s| %>
            <p class = "date"> Date: <%= HelperDisplay.schedule_datetry(s) %> </p>
            <p class = "time"> Time: <%= HelperDisplay.schedule_timetry(s) %> </p>
            <p class = "schedule_msg"> Schedule Message: <%= HelperDisplay.schedule_msgtry(s) %> </p>

            <% if current_user.doctor_role %>
            <%-# Edit scheduled procedure %>
            <%end%>
          <%end%>
        </div>

        <div class="show-card">
          <b>Doctor Notes</b>
          <p><%= link_to "Create a new Doctor's note", new_dr_note_path(@patient, :pointer => "dr_notes") %></p>
            <% @patient.treatment.dr_notes.each do |d| %>
            <p class = "name"> Name: <%= HelperDisplay.drnote_nametry(d) %> </p>
            <p class = "message"> Message: <%= HelperDisplay.drnote_msgtry(d) %> </p>

            <% if current_user.doctor_role %>
            <%-# Edit doctor notes %>
            <%end%>
          <%end%>
        </div>

        <div class="show-card">
          <b>Nurse Notes</b>
          <% @patient.treatment.n_notes.each do |n| %>
            <p class = "name"> Name: <%= HelperDisplay.nnote_nametry(n) %> </p>
            <p class = "message"> Message: <%= HelperDisplay.nnote_msgtry(n) %> </p>

            <% if current_user.medical_role %>
            <%-# Edit nurse notes %>
            <%end%>
          <%end%>
        </div>
      </div>
      <%end%>
        
      <% if current_user.office_role  %>
      <div class = "boxes insurance">
        <div class="show-card">
          <h2>Insurance</h2>
          <p class = "policynum_para"> Policy Number: <%= HelperDisplay.p_numtry(@patient.insurance) %> </p>
          <p class = "policy_para"> Policy Name: <%= HelperDisplay.p_nametry(@patient.insurance) %>  </p>
          <p class = "group_para"> Group Number: <%= HelperDisplay.grouptry(@patient.insurance) %>  </p>
            <p>Edit Insurance Info <%= link_to "Edit", edit_insurance_path(@patient, :pointer => "insurance")  %></p>
          <% if current_user.office_role %>
          <%-# Edit Insurance %>
          <%end%>
        </div>
      </div>
      <%end%>

      <% if current_user.office_role || current_user.doctor_role || current_user.medical_role %>
      <div class = "boxes emergency">
        <div class="show-card">
          <h2>Emergency Contacts</h2>
          <h5><b>Contact 1</b></h5>
          <p class = "e1_para"> Name: <%= HelperDisplay.e1_try(@patient.emergency_contact) %> </p>
          <p class = "e1num_para"> Number: <%= HelperDisplay.e1p_try(@patient.emergency_contact) %>  </p>
          <h5><b>Contact 2</b></h5>
          <p class = "e2_para"> Name: <%= HelperDisplay.e2_try(@patient.emergency_contact) %>  </p>
          <p class = "e2num_para"> Number: <%= HelperDisplay.e2p_try(@patient.emergency_contact) %>  </p>

          <% if current_user.office_role %>
          <p>Edit Emergency Contact Info <%= link_to "Edit", edit_emergency_contact_path(@patient, :pointer => "emergency_contact")  %></p>
          <%end%>
        </div>
      </div>
      <%end%>
      </div>
    </div>
  </div>
</div>