<% require_relative('./HelperDisplayFunctions') 
%>

<div class="container">
<div id = "patient_wrapper">
<div class = "boxes admit">
<h2>Admittance</h2>
<p class = "date_para"> Admittance Date: <%= HelperDisplay.datetry(@patient.admittance)%> </p>
<p class = "time_para"> Admittance Time: <%= HelperDisplay.timetry(@patient.admittance)%> </p>
<p class = "reason_para"> Admittance Reason: <%= HelperDisplay.reasontry(@patient.admittance) %> </p>
<h2>Discharge</h2>
<p class = "date_dis_para"> Discharge Date: <%= HelperDisplay.datetry(@patient.discharge) %> </p>
<p class = "time_dis_para"> Discharge Time: <%= HelperDisplay.timetry(@patient.discharge) %> </p>
</div>

<div class = "boxes contact">
<h2>Contact Information</h2>
<p class = "home"> Home Number: <%= HelperDisplay.hometry(@patient.contact) %> </p>
<p class = "work"> Work Number: <%= HelperDisplay.worktry(@patient.contact) %> </p>
<p class = "mobile"> Mobile Number: <%= HelperDisplay.mobiletry(@patient.contact) %> </p>
<p class = "street"> Street Address: <%= HelperDisplay.streettry(@patient.contact)%> </p>
<p class = "city"> City: <%= HelperDisplay.citytry(@patient.contact) %> </p>
<p class = "state"> State: <%= HelperDisplay.statetry(@patient.contact) %> </p>
<p class = "zip"> ZIP: <%= HelperDisplay.ziptry(@patient.contact) %> </p>
</div>

<div class = "boxes phy">
<h2>Physician</h2>
<p class = "physician"> Primary Care Physician: <%= HelperDisplay.fphysiciantry(@patient.physician) %> </p>
<p class = "physician_num"> Primary Care Number: <%= HelperDisplay.fp_phonetry(@patient.physician) %> </p>
</div>

<div class = "boxes patient">
<h2>General</h2>
<p class = "first_name"> First Name: <%= HelperDisplay.firsttry(@patient) %> </p>
<p class = "last_name"> Last Name: <%= HelperDisplay.lasttry(@patient) %> </p>
<p class = "middle_name"> Middle Name: <%= HelperDisplay.middletry(@patient) %> </p>
<p class = "birthday"> Birthdate: <%= HelperDisplay.birthdaytry(@patient) %> </p>
</div>

<div class = "boxes location">
<h2>Location</h2>
<p class = "facility_para"> Facility: <%= HelperDisplay.facilitytry(@patient.location) %> </p>
<p class = "room_para"> Room: <%= HelperDisplay.roomtry(@patient.location) %> </p>
<p class = "bed_para"> Bed: <%= HelperDisplay.bedtry(@patient.location) %> </p>
</div>

<div class = "boxes treatment">
<h2>Treatment</h2>
<p class = "treat_para"> Treatment: <%= HelperDisplay.treatmenttry(@patient.treatment) %> </p>
<p class = "med_para"> medication </p>
<p class = "sched_para"> schedule </p>
<p class = "sched_para"> notes </p>
</div>


</div>
</div>