<!DOCTYPE html>
<html>
  <head>
    <title>Patient Information Management System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-inverse" style="margin: 0;">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "Hospital Home", new_user_session_path, class: "navbar-brand"%>
        </div>
	  <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li id="date-nav"></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if !user_signed_in? || current_user.nil? %>
            <li><%= link_to "Log in", new_user_session_path, class: 'login-button' %></li>
          <% else %>
            <li><%= link_to "Log Out", destroy_user_session_path, class: 'login-button', method: :delete %></li>
          <% end %>
	    </ul>
        </div>
	  </div>
	</nav>
    
    <div class="notice-div">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
    
    <%= yield %>
    
  <script type="text/javascript">
     $(document).ready(function(){
       todayDate();
       $('.alert').fadeIn(1000).delay(5000).fadeOut('fast');
     })
    
      function todayDate(){
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
		var days = ["Sunday", "Monday", "Tuesday", "Wednsday", "Thursday", "Friday", "Saturday"];
		var theDate = new Date();
		var year = theDate.getFullYear(), month = months[theDate.getMonth()], date = theDate.getDate();
		var day = days[theDate.getDay()];
		var fullDate = "Today's date is " + day + ", " + month + " " + date + ", " + year;
		document.getElementById("date-nav").innerHTML = fullDate;
      }
  </script>
    
  </body>
</html>
