<!DOCTYPE html>
<html>
  <head>
    <title>Patient Information Management System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/alerts' %>
<<<<<<< HEAD
=======
    
>>>>>>> e6d564212140ed0df70b84a3b5898683be625b44
    
    <%= yield %>
    
    
    
<<<<<<< HEAD
=======
    
    
>>>>>>> e6d564212140ed0df70b84a3b5898683be625b44
  <script type="text/javascript">
     $(document).ready(function(){
       todayDate();
       $('.alert').fadeIn(1000).delay(5000).fadeOut('fast');
     })
    
      function todayDate(){
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
		var days = ["Sunday", "Monday", "Tuesday", "Wednsday", "Thursday", "Friday", "Saturday"];
		var theDate = new Date();
		var year = theDate.getFullYear(), month = months[theDate.getMonth()], date = theDate.getDate();
		var day = days[theDate.getDay()];
		var fullDate = "Today's date is " + day + ", " + month + " " + date + ", " + year;
		document.getElementById("date-nav").innerHTML = fullDate;
      }
  </script>
    
  </body>
</html>
