<html>
    <head>
        <title="Pages/">
        <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" %>
        <%= stylesheet_link_tag "pagesPatientResults" %>
        
    </head>
    <body>
      
    <nav class="navbar navbar-expand-lg navbar-inverse" style="margin: 0;">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "Hospital Home", new_user_session_path, class: "navbar-brand"%>
        </div>
	  <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li id="date-nav"></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if !user_signed_in? || current_user.nil? %>
            <li><%= link_to "Log in", new_user_session_path, class: 'login-button' %></li>
          <% else %>
            <li><%= link_to "Log Out", destroy_user_session_path, class: 'login-button', method: :delete %></li>
          <% end %>
	    </ul>
        </div>
	  </div>
	</nav>
    
    <div class="notice-div">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
      
      
        <%= yield %>
    </body>
</html>